Day - 1 DATA TYPES

In [ ]:
#Integer
#pre-defined functions
type(1)

int

In [ ]:
type("hello")

str

In [ ]:
type(2.5)

float

In [ ]:
type(2j+1)

complex

In [ ]:
type(2j+1)

complex

In [ ]:
type([1,2,3,4,5])

list

In [ ]:
#tuple
x=(1,2,45,7)
type(x)

tuple

In [ ]:
#Dictionary
data={'name':'akhil r','usn':'1by20mc003','college':'bmsit','age':23}
print(data)
type(data)

{'name': 'akhil r', 'usn': '1by20mc003', 'college': 'bmsit', 'age': 23}

dict

# Print function

In [ ]:
#print function
print("welcome to Data Science Internship Program")

welcome to Data Science Internship Program

In [ ]:
a=10
b=30
add=a+b
print("Addition",add)

Addition 40

In [ ]:
#Variables
#special characters not allowed to declare variables
#variable name not starts with numbers
str1='haii akhil'
str1

'haii akhil'

In [ ]:
a=10
b=20
#operators
#Arithematic operations

#Addition
c=a+b
print(c)
#multiplication
d=a*b
print(d)

#division
e=a/b
print(e)
#Floor Division
f=a//b
print(f)
#exponention
g=a**b
print(g)

30
200
0.5
0
100000000000000000000

In [ ]:
#boolean
10==20

False

In [ ]:
10==10

True

In [ ]:
#Assignment opeartor
a=20
a+=2
print(a)

22

# Logical operator
   1.AND
   2.OR
   3.NOT

In [ ]:
#And Operator
10>5 and 10<20

True

In [ ]:
1>2 and 2<1

False

In [ ]:
#or operator
1>2 or 2>1

True

In [ ]:
# not operator

not("akhil"=="akhik")

True

In [ ]:
#manipulation of list
#to Do

In [ ]:
#append
ap=[2,4,6,8,9,5]
ap.append(10)
print(ap)

[2, 4, 6, 8, 9, 5, 10]

In [ ]:
#insert

ins=[3,5,7,1,9,10,29,37,2,8,1,22,11,67,89]
ins.insert(4,12)
print(ins)
ins1=[1,2,3,4,5,6]
ins1.insert(4,6)
ins1.insert(5,10)
print(ins1)

[3, 5, 7, 1, 12, 9, 10, 29, 37, 2, 8, 1, 22, 11, 67, 89]
[1, 2, 3, 4, 6, 10, 5, 6]

In [ ]:
#Extend function

ex1 = [1,2,3,4,5,6,7]
ex2 = [4,5,6,7,8,9]
ex1.extend(ex2)
ex2.extend(ex1)

print("extended list after adding ex2",ex1)
print("extended list after adding ex1",ex2)

extended list after adding ex2 [1, 2, 3, 4, 5, 6, 7, 4, 5, 6, 7, 8, 9]
extended list after adding ex1 [4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 4, 5, 6, 7, 8, 9]

In [ ]:
# sum 

print(sum(ex2))

106

In [ ]:
# Count

count1 = [2,5,4,6,7,8,0,2,1,4,5,23,4,5,5,55,7645,453]
print(count1.count(2))

2

In [ ]:
# Indexing

In = [6,7,8,9,2,3,4,1]
In.index(3)

5

In [ ]:
In[3]

9

In [ ]:
In[3:7]

[9, 2, 3, 4]

In [ ]:
min(In)

1

In [ ]:
dc = [3.4,5,6.75,67,89,7.9]
min(dc)

3.4

In [ ]:
# max
max(dc)

89

In [ ]:
pop1=[1,2,3,4,5,6,7,8,9]
a = pop1.pop(4)
print(pop1)
print(a)

[1, 2, 3, 4, 6, 7, 8, 9]
5

In [ ]:
pop1.pop()

8

In [ ]:
delete = [1,2,3,4,5]
del delete[2]

In [ ]:
delete

[1, 2, 4, 5]

In [ ]:
# Remove

remove1 = [2,3,4,6,8.8,2.4]
b = remove1.remove(4)
print(remove1)
print(b)

[2, 3, 6, 8.8, 2.4]
None

In [ ]:
#to Do
#swapping where a becomes c, c=b,b=a
a=12
b=3
c=45
temp= c
a=c
print(a)
temp =b 
c=b
print(c)
temp=a
b=a
print(b)

45
3
45

In [ ]:
x=23
y=9

temp=x
print(temp)
x=y
y=temp
print(x)
print(y)

23
9
23

In [ ]:
x,y=y,x
print(x)
print(y)

9
23

String

In [ ]:
name = 'dlitHe Institution'
course = 'Python certification '

In [ ]:
name.capitalize()

'Dlithe institution'

In [ ]:
name.count("i")

3

In [ ]:
name.find("u")

13

In [ ]:
name.isalpha()

False

In [ ]:
name.islower()

False

In [ ]:
name.isupper()

False

In [ ]:
name.lower()

'dlithe institution'

In [ ]:
name.upper()

'DLITHE INSTITUTION'

In [ ]:
name.strip()

'dlitHe Institution'

In [ ]:
a = "python is a programing language"
a.split(" ")
a.split("is")

['python ', ' a programing language']

In [ ]:
b= "Pyhton"
c = "language"
b +" "+ c

'Pyhton language'

In [ ]:
b*3

'PyhtonPyhtonPyhton'

In [ ]:
str1 = 'hello to the kingdom'
len(str1)

20

In [ ]:
str1[3]

'l'

In [ ]:
str1[4:78]

'o to the kingdom'

TUPLE

In [ ]:
this1 = ('mango','banana','orange','kiwi','melon','mango')

In [ ]:
this1[1]

'banana'

In [ ]:
this1[2:4]

('orange', 'kiwi')

In [ ]:
tuple1=(1,2,3,4)
tuple2=('aki',3,4,'raj')
tuple3=tuple1 + tuple2
print(tuple3)

(1, 2, 3, 4, 'aki', 3, 4, 'raj')

In [ ]:
tup = tuple("hello akhil")
print(tup)

('h', 'e', 'l', 'l', 'o', ' ', 'a', 'k', 'h', 'i', 'l')

In [ ]:
tu = tuple("hello") *3
print(tu)

('h', 'e', 'l', 'l', 'o', 'h', 'e', 'l', 'l', 'o', 'h', 'e', 'l', 'l', 'o')

In [ ]:
#tuple unpacking

tuple4 = ("hello","Good","People")
a,b,c = tuple4
print(a)
print(b)
print(c)

hello
Good
People

In [ ]:
#dictionary

dic = {'name':'akhil','age':23}

In [ ]:
#deleting th key

del dic['age']

In [ ]:
print(dic)

{'name': 'akhil'}

In [ ]:
dic ["number"] = 2843

In [ ]:
dic["name"] = "raj"

In [ ]:
print(dic)

{'NAME': 'tysan'}

In [ ]:
dic["NAME"]="tysan"

In [ ]:
print(dic)

{'NAME': 'tysan', 'name': 'raj', 'number': 2843}

In [ ]:
dic.pop("number")

2843

In [ ]:
temp = dict(brand = "apple",model = "s-series",year = 2021)

In [ ]:
print(temp)
nc =list(temp.items())
print(nc[1])

{'brand': 'apple', 'model': 's-series', 'year': 2021}
('model', 's-series')

In [ ]:
cp = dict(temp)
print(cp)

{'brand': 'apple', 'model': 's-series', 'year': 2021}

In [ ]:
cp["year"]

2021

In [ ]:
di = {'Dict1':{1:'get'},'Dict2':{'name':'for'}}

In [ ]:
di

{'Dict1': {1: 'get'}, 'Dict2': {'name': 'for'}}

In [ ]:
di['Dict1'][1]

'get'

it is a kind of decision making forum where we can decide whether to keep that statement or not

In [ ]:
if condition:
  Statement 1
  stat2

stat3

else:
  stat4

In [ ]:
i = 89
if(i<45):
  print("good akhil")
else:
  print("bad akhil")

bad akhil

In [ ]:
string = 'Parade'
if(string == 'parade'):
  print("haii akhil")
    
string = string*3
print(string)

ParadeParadeParade

In [ ]:
i =20
if(i<15):
  print("i is smaler than 15")
  print("i am in if block")
else:
  print("i is greater or equal to 15")
  print("i am in else block")

i is greater or equal to 15
i am in else block

In [ ]:
# nested if-else
#to do ,print the comment

i=40
if(i==40):
  if(i<=15):
    print("i is smaller the 15")

  if(i<12):
    print("i is smaller then 12 too")
  else:
    print("i is greater then 15")

print("i is equal to 40")

i is greater then 15
i is equal to 40

In [ ]:
#to do 
#tuple

num = ("hello world")
tuple(num.split())

('hello', 'world')

In [ ]:
# if-else

if(condition):
  statements...

elif (conditions):
  ststements

else:
  ststements

In [ ]:
i = 20
if (i == 20):
  print('i is equal to 20')
  print('we are in if blocks')

elif (i == 15):
  print('i is 15')
  print('we are in elif1 block ')

elif (i==10):
  print('i is 10')
  print('we are in elif2 block')

else:
  print('i is equal to nothing')
  print('i is in else block')

i is equal to 20
we are in if blocks

In [ ]:
# short hand if-statement

if condition: Statement

In [ ]:
i = 10
if(i==10): print('i is less then 10 ')

i is less then 10

--For Loop--

In [ ]:
for var in iterable:
  # statements

In [ ]:
k = [1,2,3,4,5,6,7]
for var in k:
  print(var)
print(var)

1
2
3
4
5
6
7
7

In [ ]:
l = ['tomato','banana','orange']

for i in l:
  for j in i:
    print(j)

t
o
m
a
t
o
b
a
n
a
n
a
o
r
a
n
g
e

In [ ]:
s = int(input())

45

In [ ]:
print(s)

45

In [ ]:
#to do
# come is improvization

s=list(input())
print(''.join(s))

123456
123456

In [ ]:
s=str(input())

for i in s:
  print(i)

a=dict()
a
=
d
i
c
t
(
)

In [ ]:
d=dict()
d['a']=123
  
d['b']=345
for i in d:
  print(i,d[i])

a 123
b 345

In [ ]:
for letter in 'whenareyouold':
  if letter == 'e' or letter == 'w':
    break

print('current letter',letter)

current letter w

In [ ]:
for letter in 'whenareyouold':
  if letter == 'e' or letter == 'w':
    pass

  print('current letter',letter)

current letter w
current letter h
current letter e
current letter n
current letter a
current letter r
current letter e
current letter y
current letter o
current letter u
current letter o
current letter l
current letter d

--Range for Loop--

In [ ]:
list(range(1,10,2)) #list (range((starting point,ending point,iteration)))

[1, 3, 5, 7, 9]

In [ ]:
for i in range(1,10+1):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
l = [10,20,30,40]

for i in range(len(l)):
  print(l[i], end = "/")

10/20/30/40/

In [ ]:
#to do
#perform the sum of first 10 natural number
n =int(input("enter th size of number"))
sum = 0
for i in range(1,n+1):
  sum=sum+i
print(sum)

enter th size of number10
55

--While loop--

while expression:
  statement(s)

In [ ]:
count = 0
while(count<=3):
  count = count+1
  print('haii akhil')

haii akhil
haii akhil
haii akhil
haii akhil

In [ ]:
a = [1,2,3,4]

while a:
  print(a.pop())

4
3
2
1

In [ ]:
i = 0
a ="haiiakhil"

while(i<len(a)):
  if(a[i]=='i'):
    i+=1
    continue
  print("current letter",a[i])
  i+=1

current letter h
current letter a
current letter a
current letter k
current letter h
current letter l

In [ ]:
#to do
#if else short hand

a=20
b=79
print("a is smaller the b") if (a>b) else print("b is greater then a")

b is greater then a

In [ ]:
#to do
# to replace banana with a mushroom and store it in a new list

l = ['orange','apple','banana','mango']
new_l=[]
for i in l:

  new_l=i.replace('banana','mushroom')
  print(new_l)

orange
apple
mushroom
mango

In [ ]:
questions = ['name','color','shape']
answers = ['apple','red','circle']
for question, answer in zip(questions,answers):
  print('what is your{0}? I am {1}.'.format(question,answer))

what is yourname? I am apple.
what is yourcolor? I am red.
what is yourshape? I am circle.

In [ ]:

a = list(map(int,input().split(' ')))
print(a)

64 78 29
[64, 78, 29]

In [ ]:
def sum(x):
  for i in x:
    summ = summ+i
    return summ

sum(a)

In [ ]:
Function:
  statement

SyntaxError: ignored

In [ ]:
def eo(x):
  if(x%2==0):
    print('even')
  else:
    print('odd')

In [ ]:
eo(739384)

even

In [ ]:
def square_value(num):
  return num**2
print(square_value(2))

4

In [ ]:
list1 = [1,23,4,5,6,7,'ab',4,6,8,'world',4,6,9,3,'city',3,6,9,4,2]
#to do
#find the sum of the list and remove the string data  type
list1.remove('ab')
list1.remove('world')
list1.remove('city')
sum =0
for i in list1:
  sum = sum+i
print(sum)

110

In [ ]:
Lambda Functions -

lambda arguments : Expression

In [ ]:
x= lambda a:a+5
print(x(22))

27

In [ ]:
def db(n):
  return lambda x:x*n
num_double = db(2)
print(num_double(22))

44

In [ ]:
print('08','03','2022',sep = '-')

08-03-2022

In [ ]:
!pip3 install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.5)

In [ ]:
# importing the library

import pandas as pd
import numpy as np

In [ ]:
data  = [1,2,3,4,5,6,7,'m']
d = pd.Series(data)
print(d)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    m
dtype: object

In [ ]:
s = pd.Series([1,2,3,np.nan,8,9])
print(s)

0    1.0
1    2.0
2    3.0
3    NaN
4    8.0
5    9.0
dtype: float64

In [ ]:
d = pd.date_range('20220310',periods=10)
print(d)

DatetimeIndex(['2022-03-10', '2022-03-11', '2022-03-12', '2022-03-13',
               '2022-03-14', '2022-03-15', '2022-03-16', '2022-03-17',
               '2022-03-18', '2022-03-19'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
import pandas as pd
s1 = pd.Series([1,3,4,5,6,2,9])
s2 = pd.Series([1.1,3.5,4.7,5.8,2.9,9.3])
s3 = pd.Series(['a','b','c','d','e'])

Data = {'first':s1, 'second':s2, 'third':s3}
df = pd.DataFrame(Data)
print(df)

   first  second third
0      1     1.1     a
1      3     3.5     b
2      4     4.7     c
3      5     5.8     d
4      6     2.9     e
5      2     9.3   NaN
6      9     NaN   NaN

In [ ]:
df.to_csv('basic.csv')

In [ ]:
a =pd.read_csv('basic.csv')
print(a)

   Unnamed: 0  first  second third
0           0      1     1.1     a
1           1      3     3.5     b
2           2      4     4.7     c
3           3      5     5.8     d
4           4      6     2.9     e
5           5      2     9.3   NaN
6           6      9     NaN   NaN

In [ ]:
df = pd.DataFrame({'A':[1,2,3,4],'B':pd.Timestamp('20220310'),
                   'C':pd.Series(1,index = list(range(4))),
                   'D':np.array([5]*4,dtype = 'int32'),
                   'E':pd.Categorical(['test','train','train','test'])})
print(df)

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
df

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.dtypes

A             int64
B    datetime64[ns]
C             int64
D             int32
E          category
dtype: object

In [ ]:
df.head()

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
df.head(2)

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train

In [ ]:
df.tail()

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
df.tail(2)

   A          B  C  D      E
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
df.to_numpy()

array([[1, Timestamp('2022-03-10 00:00:00'), 1, 5, 'test'],
       [2, Timestamp('2022-03-10 00:00:00'), 1, 5, 'train'],
       [3, Timestamp('2022-03-10 00:00:00'), 1, 5, 'train'],
       [4, Timestamp('2022-03-10 00:00:00'), 1, 5, 'test']], dtype=object)

In [ ]:
df.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [ ]:
df.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [ ]:
df.describe()

              A    C    D
count  4.000000  4.0  4.0
mean   2.500000  1.0  5.0
std    1.290994  0.0  0.0
min    1.000000  1.0  5.0
25%    1.750000  1.0  5.0
50%    2.500000  1.0  5.0
75%    3.250000  1.0  5.0
max    4.000000  1.0  5.0

In [ ]:
df.sort_index(axis = 1, ascending = False)

       E  D  C          B  A
0   test  5  1 2022-03-10  1
1  train  5  1 2022-03-10  2
2  train  5  1 2022-03-10  3
3   test  5  1 2022-03-10  4

In [ ]:
df.sort_values(by = 'A')

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
df['C']

0    1
1    1
2    1
3    1
Name: C, dtype: int64

In [ ]:
df[0:3]

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train

In [ ]:
df.loc[:,['A','C']]

   A  C
0  1  1
1  2  1
2  3  1
3  4  1

In [ ]:
df.loc[:,:]

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
# From position

df.iloc[3]

A                      4
B    2022-03-10 00:00:00
C                      1
D                      5
E                   test
Name: 3, dtype: object

In [ ]:
df.iloc[0:2,3:5]

   D      E
0  5   test
1  5  train

In [ ]:
df[df['A']>2]

   A          B  C  D      E
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
df =pd.Series([1,2,3,np.nan,4,5]).shift(2)
print(df)

0    NaN
1    NaN
2    1.0
3    2.0
4    3.0
5    NaN
dtype: float64

In [ ]:
df.apply(np.cumsum)

0    [nan]
1    [nan]
2    [1.0]
3    [2.0]
4    [3.0]
5    [nan]
dtype: object

In [ ]:
df.value_counts()

1.0    1
2.0    1
3.0    1
dtype: int64

In [ ]:
import pandas as pd
import numpy as np
s = pd.Series(['education','python','anaconda',np.nan])
s.str.upper()

0    EDUCATION
1       PYTHON
2     ANACONDA
3          NaN
dtype: object

In [ ]:
s.str.lower()

0    education
1       python
2     anaconda
3          NaN
dtype: object